.ico{
  display: inline-block;
  vertical-align: middle;
  background-size: contain;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center center;

  //&-clock{
  //  background-image: url(../../images/example.png);
  //  width: 26px;
  //  height: 26px;
  //}
}

